body {
    font-family: 'Poppins', sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: justify;
}
th {
    background-color: #4277B2;
    text-align: center;
    position: relative;
}
p {
    font-size: 13pt;
}